.discover-tags-container {
	overflow-x: auto;
	white-space: nowrap;

	scrollbar-width: none;
	-ms-overflow-style: none;

	&::-webkit-scrollbar {
		display: none;
	}

	.discover-tags-list {
		list-style: none;
		padding: 0;
		margin: 0;
		display: inline-flex;
	}

	.discover-tag-item {
		display: flex;
		align-items: center;
		gap: 4px;
		padding: 4px;
		border: 1px solid #ccc;
		background-color: #f7f7f7;
		margin-right: 10px;
		border-radius: 5px;
	}
}

.game-card-preview-list {
	padding: 12px;

	.game-card-preview {
		position: relative;
		border-radius: 4px;
		width: 100%;
		color: black;
		background-color: white;
		margin-bottom: 12px;

		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

		&__header {
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;

			position: relative;
			padding: 4px;
			height: 80px;
			background-size: cover;
			background-position: center;
		}

		&__icon {
			font-size: 20px;
		}

		&__name {
			font-weight: 600;
			color: white;
			font-size: 18px;
		}

		&__time {
			position: absolute;
			bottom: 8px;
			left: 8px;
			color: white;

		}

		&__game-type {
			position: absolute;
			top: 8px;
			right: 8px;

			text-transform: uppercase;
			background-color: orange;
			color: white;
			width: auto;
			border-radius: 4px;
			padding: 4px;

			font-weight: 600;
		}

		&__status {}

		&__body {
			padding: 8px;
		}

		&__participants {
			display: flex;
			gap: 4px;
			margin-bottom: 6px;
		}

		&__participant {
			&--host {
				box-sizing: content-box;
				outline: 2px solid orange;
			}
		}

		&__picker {
			width: 25px;
			height: 25px;
			border: 2px dashed orange;
			background-color: rgb(255, 210, 127);
			border-radius: 50%;
		}

		&__game-levels-container {
			display: flex;
			gap: 4px;
			margin-bottom: 6px;
		}

		&__game-levels-list {
			list-style: none;
			padding: 0;
			margin: 0;

			display: flex;
			gap: 4px;
		}

		&__game-level {
			padding: 4px;
			border-radius: 4px;
			color: white;
			font-size: 12px;
			line-height: 1;

			&.beginner {
				background-color: rgb(69, 69, 255);
			}

			&.inter {
				background-color: green;
			}

			&.ad {
				background-color: orange;
			}
		}

		&__location {
			display: flex;
			gap: 4px;
		}

		&__location-text {
			font-size: 12px;
			font-weight: 500;
		}
	}
}